<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Sample RichFaces 4 Application</display-name>

    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.numberOfViewsInSession</param-name>
        <param-value>1000</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.numberOfLogicalViews</param-name>
        <param-value>1000</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Plugging the "Blue Sky" skin into the project -->
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>blueSky</param-value>
    </context-param>

    <!-- Making the RichFaces skin spread to standard HTML controls -->
    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING</param-name>
        <param-value>enable</param-value>
    </context-param>

    <!-- Resource Mapping - resources will be served compressed and packed in production -->
    <context-param>
        <param-name>org.richfaces.resourceMapping.enabled</param-name>
        <param-value>true</param-value>
    </context-param>


    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <!-- Resource Servlet - serves static resources and resources for specific components -->
    <servlet>
        <servlet-name>Resource Servlet</servlet-name>
        <servlet-class>org.richfaces.webapp.ResourceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resource Servlet</servlet-name>
        <url-pattern>/org.richfaces.resources/*</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>faces/views/login.xhtml</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>ru.simplgroupp.webapp.util.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/faces/views/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/views/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/faces/views/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/views/login.xhtml</location>
    </error-page>

    <login-config>
        <auth-method>FORM</auth-method>

        <form-login-config>
            <form-login-page>/faces/views/login.xhtml</form-login-page>
            <form-error-page>/faces/views/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecureOrdersEast</web-resource-name>
            <description>Security constraint</description>
            <url-pattern>/faces/views/index.xhtml</url-pattern>
            <url-pattern>/faces/views/model/*</url-pattern>
            <url-pattern>/faces/views/plugin/*</url-pattern>
            <url-pattern>/faces/views/process/*</url-pattern>
            <url-pattern>/faces/views/rule/*</url-pattern>
            <url-pattern>/faces/views/eventlog/*</url-pattern>
            <url-pattern>/faces/views/bizaction/*</url-pattern>
            <url-pattern>/faces/views/reference/*</url-pattern>
            <url-pattern>/faces/views/upload/*</url-pattern>
            <url-pattern>/faces/views/requests/*</url-pattern>
            <url-pattern>/faces/views/crypto/*</url-pattern>
            <url-pattern>/faces/views/partners/*</url-pattern>
            <url-pattern>/faces/views/products/*</url-pattern>
            <url-pattern>/faces/views/tables/*</url-pattern>
            <url-pattern>/faces/views/verify/*</url-pattern>
            <url-pattern>/faces/views/antifraud/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>analyst</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>SSL not required</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>


    <security-role>
        <role-name>analyst</role-name>
    </security-role>
</web-app>
